@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        @apply bg-neutral-900;
    }

    html {
        -webkit-tap-highlight-color: transparent;
    }

    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        appearance: none;
    }
    input[type="number"] {
        -moz-appearance: textfield;
    }
}

@layer components {
    .fsio-field-wrapper {
        @apply flex flex-col w-full;
    }

    .fsio-field-error {
        @apply text-red-300 text-sm;
    }

    .fsio-field-text {
        @apply bg-neutral-700 text-white px-2 py-1 rounded outline-none;
    }

    .fsio-field-text-disabled {
        @apply bg-neutral-800 text-neutral-200 px-2 py-1 rounded;
    }

    .fsio-btn {
        @apply text-lg grid place-items-center px-4 py-1 rounded mt-4 bg-primary-400 text-neutral-900 font-bold;
    }

    .fsio-btn-disabled {
        @apply text-lg grid place-items-center px-4 py-1 rounded mt-4 bg-neutral-700 text-neutral-400 font-bold;
    }

    .fsio-btn-icon {
        @apply w-12 h-12 grid place-items-center rounded text-4xl text-neutral-900 bg-primary-400;
    }

    .fsio-btn-icon-disabled {
        @apply w-12 h-12 grid place-items-center rounded text-4xl text-neutral-900 bg-neutral-300;
    }
}

@layer utilities {
    .touchable {
        position: relative;
    }
    .touchable-absolute {
        position: absolute;
    }

    @media screen and (max-width: 768px) {
        .touchable:after,
        .touchable-absolute:after {
            content: "";
            position: absolute;
            top: -10px;
            bottom: -10px;
            left: -10px;
            right: -10px;
        }
    }
}

/* Style NProgress */
#nprogress .bar {
    background-color: rgba(251, 113, 133) !important;
}

#nprogress .peg {
    background-color: rgba(251, 113, 133) !important;
    box-shadow: 0 0 10px rgba(251, 113, 133), 0 0 5px rgba(251, 113, 133) !important;
}

@import "./markdown.css";
