@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        @apply bg-neutral-900;
    }

    html {
        -webkit-tap-highlight-color: transparent;
    }

    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        appearance: none;
    }
    input[type="number"] {
        -moz-appearance: textfield;
    }
}

@layer components {
    .fsio-field-wrapper {
        @apply flex flex-col w-full;
    }

    .fsio-field-error {
        @apply text-red-300 text-sm;
    }

    .fsio-field-text {
        @apply bg-neutral-700 text-white px-2 py-1 rounded outline-none;
    }

    .fsio-field-text-disabled {
        @apply bg-neutral-800 text-neutral-200 px-2 py-1 rounded;
    }

    .fsio-btn {
        @apply text-lg grid place-items-center px-2 py-1 rounded mt-4 bg-primary-700 text-white;
    }

    .fsio-btn-disabled {
        @apply text-lg grid place-items-center px-2 py-1 rounded mt-4 bg-neutral-700 text-white;
    }

    .fsio-btn-icon {
        @apply w-12 h-12 grid place-items-center rounded text-4xl text-neutral-900 bg-primary-400;
    }

    .fsio-btn-icon-disabled {
        @apply w-12 h-12 grid place-items-center rounded text-4xl text-neutral-900 bg-neutral-300;
    }
}

/* Style NProgress */
#nprogress .bar {
    background: var(--color-theme-500) !important;
}

#nprogress .peg {
    box-shadow: 0 0 10px var(--color-theme-500), 0 0 5px var(--color-theme-500) !important;
}

#nprogress .spinner-icon {
    border-top-color: var(--color-theme-500) !important;
    border-left-color: var(--color-theme-500) !important;
}
